@model Voresjazzklub.Models.ArrangementModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Arran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.arrangementBeskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrangementBeskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createTs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createTs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrangementWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrangementWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrangementDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrangementDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrangemnetTid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrangemnetTid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spiseSted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spiseSted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spiseTid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spiseTid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.arrangementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
