@model Voresjazzklub.Models.Billede

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Billede</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.arrangementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrangementId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brugerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brugerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createTs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createTs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kommentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kommentar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.billedAdresse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
